@media (min-width: 1200px) {
  :root {
    --heading-one: 96px;
    --heading-two: 72px;
    --heading-three: 48px;
  }

  #container {
    .main-header {
      width: 100%;
      max-width: max-content;
    }
  }
}

@media (max-width: 1199px) {
  :root {
    --heading-one: 80px;
    --heading-two: 60px;
    --heading-three: 40px;
  }
}

@media (max-width: 991px) {
  :root {
    --heading-one: 64px;
    --heading-two: 48px;
    --heading-three: 32px;
    --text-heading: 20px;
    --text-display: 18px;
  }

  #container {
    .main-header {
      width: 100%;
      /* border: solid; */
      border-radius: 0;
      top: 0;

      button[title="Get the App"] {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  :root {
    --heading-one: 48px;
    --heading-two: 36px;
    --heading-three: 28px;
    --text-heading: 18px;
    --text-display: 16px;
    --text-base: 14px;
  }
}

@media (max-width: 479px) {
  :root {
    --heading-one: 36px;
    --heading-two: 28px;
    --heading-three: 24px;
    --text-heading: 16px;
    --text-display: 14px;
    --text-base: 12px;
  }
}